
<div class="sign-in">
    <div class="animated-words">
        <span>Action</span>
        <span>Believe</span>
        <span>Dare</span>
        <span>Dream</span>
        <span>Positivity</span>
        <span>Smile</span>
      </div>

        <div class="animated-words-right">
            <span>Practice</span>
            <span>Creative</span>
            <span>Hope</span>
            <span>Mindfulness</span>
            <span>Nurture</span>
            <span>Listen</span>
          </div>
  <div class="logo"><%=image_tag("logo.png")%></div>

  <h1 class="welcome">Welcome!</h1>
  <h2>Please Select A User Type To Sign In:</h2>

  <div class="manage-boxes-home">

    <h4><%= link_to 'Admin', new_admin_session_path %></h4>
    <h4><%= link_to 'Teacher', new_teacher_session_path %></h4>
    <br>
    <h4><%= link_to 'Student', new_student_session_path %></h4>
  </div>

</form>
</div>
