<div class="sign-in">
<h1>Welcome!</h1>
<h2>Please Select A User Type To Sign In</h2>

  <h1>User Type:</h1>

  <div class="manage-boxes">

  <h4><%= link_to 'Admin', new_admin_session_path %></h4>
  <h4><%= link_to 'Teacher', new_teacher_session_path %></h4>
  <br>
  <h4><%= link_to 'Student', new_student_session_path %></h4>
  </div>

</form>
</div>
