/*
 *= require_tree .
 *= require_self
 */
 $poppins: 'Poppins', sans-serif;
 $nunito: 'Nunito Sans', sans-serif;
 $varela: 'Varela Round', sans-serif;
 body {
 background-color: #17141f;
 color: white;
 font-family: $varela;
 height: 1000px;
 }
 a {
   color: white;
 }
 body::-webkit-scrollbar {
     width: 15px;
 }
 body::-webkit-scrollbar-thumb {
     background: radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
     width: 6px;
     opacity: 0.7;
     border-radius: 7px;
     border: 1px solid rgba(255, 255, 255, 0.5);
 }
 body::-webkit-scrollbar-track {
     background-color: rgba(0, 0, 0, 0.5);
 }
nav {
  display: flex;
  flex-flow: column;
  background: #0e0c13;
  width: 15%;
  border-right: 1px solid #2c2541;
  border-top: 1px solid #2c2541;
  float: left;
  padding-left: 0.5%;
  height: 100%;
  h4 {
    padding-left: 5%;
    font-size: 160%;
    color: #b19dd8;
  }
  ul {
      padding-left: 0;
  }
    li {
      font-size: 130%;
      padding-left: 5%;
      padding: 15px;
      margin: auto;
      list-style-type: none;
      color: white;
      font-family: $nunito;
  }
  li:hover {
    background: #6441a4;
    cursor: pointer;
  }
  a:visited {
    color: white;
    text-decoration: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    background: #6441a4;
    cursor: pointer;
  }
}
.content {
  width: 70%;
  margin-left: 20%;
}

.profile {
  text-align: center;
  font-family: $varela;
  border: 2px solid #2c2541;
  background: #281b2f;
  width: 100%;
  a:visited {
    color: #b19dd8;
    text-decoration: underline;
  }
  a {
    color: #b19dd8;
    text-decoration: underline;
  }
  a:hover {
    color: white;
    background: #6441a4;
    cursor: pointer;
  }
  p {
    font-size: 130%;
    padding: 10px;
  }
  hr {
    border: 1px solid #2c2541;
  }
  strong {
    text-decoration: underline;
    color: #b19dd8;
    font-family: $nunito;
  }
}
.edit-form {
  text-align: center;
  font-family: $varela;
  border: 2px solid #2c2541;
  background: #281b2f;
  width: 100%;
  .edit-section {
    border: 1px solid #2c2541;
    padding: 20px;
  }
  .item-tag {
    text-decoration: underline;
    color: #b19dd8;
    font-family: $nunito;
    font-size: 130%;
    float: left;
  }
  .date {
    select {
      width: 15%;
  }
}
  .field {
    margin-left: 15%;
  }
  input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus, select:focus {
    border: 2px solid #7d5bbe;
  }
  input[type=text], input[type=password], input[type=number], input[type=email], select {
    text-align: center;
    border: 1px solid #392e5c;
    width: 40%;
    height: 25px;
    background: #0e0c13;
    color: white;
  }

  input[type=submit] {
    margin-left: 15%;
    text-align: center;
    border: 1px solid #392e5c;
    width: 20%;
    height: 25px;
    background: #0e0c13;
    color: white;
  }

  select:hover, option:hover {
    cursor: pointer;
  }
  input[type=submit]:hover {
    cursor: pointer;
    color: white;
    background: #6441a4;
  }
}
.list-all {
    width: 100%;
    border: 1px solid #392e5c;
td, th {
    text-align: center;
    font-family: $poppins;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-right: 1px solid #392e5c;
    border-bottom: 1px solid #392e5c;
}
th:nth-last-child(1), td:nth-last-child(1) {
  border-right: none;
}
th {
  font-size: 150%;
}
td {
  font-size: 130;
  border-bottom: none;
}
tr:nth-child(even) {
    background-color: #281b2f;
}
}
.create-link {
  a:hover {
      color: #6441a4;
  }

}
