$poppins: 'Poppins', sans-serif;
$nunito: 'Nunito Sans', sans-serif;
$varela: 'Varela Round', sans-serif;
body {
background-color: #17141f;
color: white;
font-family: $varela;
}
.sign-in {
  width: 100%;
  text-align: center;
  .manage-boxes {
    margin-top: 5%;
  }
    h1 {
      font-family: $nunito;
      color: #b47bcf;

  }
}
