$poppins: 'Poppins', sans-serif;
$nunito: 'Nunito Sans', sans-serif;
$varela: 'Varela Round', sans-serif;
body {
background-color: #17141f;
color: white;
font-family: $varela;
}
.sign-in {
  width: 100%;
  text-align: center;
  form {
    select:hover {
      cursor: pointer;
    }
    input[type=submit]:hover {
      cursor: pointer;
    }
    input[type=submit] {
      width: 5%;
      height: 30px;
      text-align: center;
      border: 1px solid #dad8de;
      background: #281b2f;
      color: #b47bcf;
    }
    input[type=text], input[type=password], select {
      width: 25%;
      height: 25px;
      text-align: center;
      border: 1px solid #dad8de;
      background: #281b2f;
      color: #b47bcf;
    }
    p {
      font-family: $nunito;
      color: #b47bcf;
    }
  }
}
